<template>
    <li :class="'pb-toolbar-item' + ' ' + css">
        <a :href="link" :target="target" @click="click"><i v-if="icon" :class="icon"></i> <span>{{ value }}</span></a>
    </li>
</template>
<script>
    export default {
        name: 'pb-toolbar-item',
        props: {
            value: {
                default: '',
                type: String
            },
            icon: {
                default: '',
                type: String
            },
            link: {
                default: '',
                type: String
            },
            target: {
                default: '_self',
                type: String
            },
            css: {
                default: '',
                type: String
            },
            confirm: {
                default: '',
                type: String
            }
        },
        methods: {
            click (event) {

                if ( ! this.link ) {
                    event.preventDefault()
                }

                if ( ! this.confirm ) {
                    this.$emit('click')
                    return
                }

                if ( confirm(this.confirm) ) {
                    this.$emit('click')
                    return
                }

                event.stopPropagation()
            }
        }
    }
</script>