<template>
    <ul class="pb-toolbar grid-flex">
        <slot>
            <!-- Custom entries -->
        </slot>
    </ul>
</template>
<script>
    export default {
        name: 'pb-toolbar'
    }
</script>