<template>
    <div class="pb-filter grid-flex grid-spaced">
        <div class="pb-filter--search col-3-12">
            <el-input
                class="el-input-block"
                v-model="filter.search"
                icon="search"
                :placeholder="$t('pb_filter_search')"
            ></el-input>
        </div>
        <div class="pb-filter--state col-2-12 pull-right">
            <el-select
                class="el-select-block"
                v-model="filter.state"
                :multiple="true"
                :placeholder="$t('pb_filter_state')"
            >
                <el-option v-for="(state, index) in $store.state.State.items" :label="state.label" :value="state.value" :key="index"></el-option>
            </el-select>
        </div>
        <div class="pb-filter--category col-2-12">
            <el-select
                class="el-select-block"
                v-model="filter.category"
                :multiple="true"
                :placeholder="$t('pb_filter_category')"
            >
                <el-option v-for="(category, index) in $store.state.Category.items" :label="category.title" :value="String(category.id)" :key="index"></el-option>
            </el-select>
        </div>
        <div class="pb-filter--lang col-2-12">
            <el-select
                class="el-select-block"
                v-model="filter.lang"
                :multiple="true"
                :placeholder="$t('pb_filter_lang')"
            >
                <el-option v-for="(lang, index) in $store.state.Lang.items" :label="lang.label" :value="lang.value" :key="index"></el-option>
            </el-select>
        </div>
        <div class="pb-filter-reset col-auto" v-if="modal === false">
            <el-button
                class="el-button-block"
                type="success"
                @click="update"
            >{{ $t('pb_filter_update') }}</el-button>
        </div>
        <div class="pb-filter-reset col-auto" v-if="modal === false">
            <el-button
                class="el-button-block"
                type="primary"
                @click="reset"
            >{{ $t('pb_filter_reset') }}</el-button>
        </div>
    </div>
</template>
<script>

    export default {
        name: 'pb-filter',
        i18n: {
            messages: {
                en: {
                    pb_filter_search: 'Search',
                    pb_filter_state: 'Select state',
                    pb_filter_lang: 'Select language',
                    pb_filter_category: 'Select category',
                    pb_filter_update: 'Save',
                    pb_filter_reset: 'Reset'
                },
                de: {
                    pb_filter_search: 'Suche',
                    pb_filter_state: 'Status auswählen',
                    pb_filter_lang: 'Sprache auswählen',
                    pb_filter_category: 'Kategorie auswählen',
                    pb_filter_update: 'Speichern',
                    pb_filter_reset: 'Zurücksetzen'
                }
            }
        },
        props: {
            modal: {
                default: false,
                type: Boolean
            }
        },
        computed: {
            filter () {
                return this.$store.state.Filter
            }
        },
        methods: {
            reset () {
                this.$store.dispatch('Filter/reset')
            },
            update() {
                this.$store.dispatch('Filter/update', this.filter)
            }
        }
    }

</script>