<template>
    <div class="pb-filter-body">
        <div v-if="fuzzysearch.length === 0" class="pb-items-empty">
            {{ $t('pb_filter_items_empty') }}
        </div>
        <div v-else class="pb-items">
            <div class="pb-items-header grid-flex">
                <div class="col-1-12">
                    <strong>{{ $t('pb_filter_items_id') }}</strong>
                </div>
                <div class="col-2-12">
                    <strong>{{ $t('pb_filter_items_state') }}</strong>
                </div>
                <div :class="modal === false ? 'col-3-12' : 'col-4-12'">
                    <strong>{{ $t('pb_filter_items_title') }}</strong>
                </div>
                <div :class="modal === false ? 'col-3-12' : 'col-4-12'">
                    <strong>{{ $t('pb_filter_items_category') }}</strong>
                </div>
                <div class="col-1-12">
                    <strong>{{ $t('pb_filter_items_lang') }}</strong>
                </div>
                <div class="col-1-12" v-if="modal === false">
                    <strong>{{ $t('pb_filter_items_created') }}</strong>
                </div>
                <div class="col-1-12" v-if="modal === false">
                    <strong>{{ $t('pb_filter_items_updated') }}</strong>
                </div>
            </div>
            <div class="pb-items-item grid-flex align-middle" v-for="(item, index) in pagination" :key="index">
                <div class="col-1-12">
                    <span>{{ item.id }}</span>
                </div>
                <div class="col-2-12">
                    <el-tag :type="item.stateObject.type">{{ item.stateObject.label }}</el-tag>
                </div>
                <div :class="modal === false ? 'col-3-12' : 'col-4-12'">
                    <a :href="item.updateLink" @click="click($event, item.id, item.title)"><strong>{{ item.title }}</strong></a>
                </div>
                <div :class="modal === false ? 'col-3-12' : 'col-4-12'">
                    <el-tag v-for="(category, index) in item.categories" :key="index" type="primary" style="margin: 0 0.5em 0.5em 0;">{{ category.title }}</el-tag>
                </div>
                <div class="col-1-12">
                    <span>{{ item.langObject.label }}</span>
                </div>
                <div class="col-1-12" v-if="modal === false">
                    <span>{{ item.created_at }}</span>
                </div>
                <div class="col-1-12" v-if="modal === false">
                    <span>{{ item.updated_at }}</span>
                </div>
            </div>
        </div>
        <div class="pb-pagination">
            <el-pagination
                :current-page="Number(filter.page)"
                :page-size="Number(filter.limit)"
                :page-sizes="[10, 25, 50, 100, 500]"
                :total="fuzzysearch.length"
                @current-change="updatePage"
                @size-change="updateLimit"
                layout="sizes, total, ->, prev, pager, next"
            ></el-pagination>
        </div>
    </div>
</template>
<script>

    import Fuse from 'fuse.js'

    export default {
        name: 'pb-filter-body',
        i18n: {
            messages: {
                en: {
                    pb_filter_items_id: 'ID',
                    pb_filter_items_state: 'State',
                    pb_filter_items_title: 'Title',
                    pb_filter_items_label: 'Label',
                    pb_filter_items_category: 'Category',
                    pb_filter_items_lang: 'Language',
                    pb_filter_items_created: 'Created',
                    pb_filter_items_updated: 'Updated',
                    pb_filter_items_empty: 'No entries found'
                },
                de: {
                    pb_filter_items_id: 'ID',
                    pb_filter_items_state: 'Status',
                    pb_filter_items_title: 'Titel',
                    pb_filter_items_label: 'Label',
                    pb_filter_items_category: 'Kategorie',
                    pb_filter_items_lang: 'Sprache',
                    pb_filter_items_created: 'Erstellt',
                    pb_filter_items_updated: 'Bearbeitet',
                    pb_filter_items_empty: 'Keine Einträge gefunden'
                }
            }
        },
        props: {
            value: {
                default: [],
                type: Array
            },
            modal: {
                default: false,
                type: Boolean
            },
            modalFunction: {
                default: '',
                type: String
            }
        },
        computed: {
            filter () {
                return this.$store.state.Filter
            },
            fuzzysearch () {
                var fuzzy = new Fuse(this.value, {
                    shouldSort: true, findAllMatches: true, threshold: 0.4, distance: 100, keys: ['title']
                })
                
                var result = this.value

                if ( this.filter.search ) {
                    result = fuzzy.search(this.filter.search)
                }

                result = _.filter(result, (entry) => {
                    return _.intersection(this.filter.category, entry.category).length !== 0 || this.filter.category.length === 0
                })

                result = _.filter(result, (entry) => {
                    return this.filter.state.indexOf(String(entry.state)) !== -1
                })

                result = _.filter(result, (entry) => {
                    return this.filter.lang.indexOf(String(entry.lang)) !== -1 || this.filter.lang.indexOf('*') !== -1 || entry.lang === '*'
                })

                if ( result === undefined ) {
                    return []
                }

                return result
            },
            pagination () {

                if ( this.fuzzysearch.length === 0 ) {
                    return []
                }

                return _.chunk(this.fuzzysearch, this.$store.state.Filter.limit)[this.$store.state.Filter.page - 1]
            }
        },
        methods: {
            click (event, id, name) {

                if ( this.modal === false ) {
                    return
                }

                event.preventDefault()
                window.parent[this.modalFunction](id, name)
            },
            updateLimit (value) {
                this.$store.commit('Filter/updateLimit', value)
            },
            updatePage (value) {
                this.$store.commit('Filter/updatePage', value)
            }
        }
    }

</script>