<template>
    <div class="pb-sidebar">
        <div class="pb-sidebar--menu">
            <slot></slot>
        </div>
        <div class="pb-sidebar--info" v-if="$slots.info">
            <slot name="info"></slot>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'pb-sidebar'
    }
</script>