<template>

    <div class="pb-body-partial" v-if="value">
        <el-form label-position="top" ref="form">
            <el-tabs v-model="tab">
                <el-tab-pane :label="$t('pb_tab_general')" name="general" class="grid-flex grid-spaced">

                    <el-form-item :label="$t('pb_title')" class="col-12-12">
                        <el-input :placeholder="$t('pb_title_placeholder')" v-model="value.title" class="el-input-large"></el-input>
                    </el-form-item>

                    <el-form-item :label="$t('pb_lang')" class="col-6-12 col-md-12-12">
                        <el-select :placeholder="$t('pb_lang_placeholder')" v-model="value.lang" :filterable="true" class="el-select-block">
                            <el-option v-for="(item, index) in $store.state.Lang.items" :label="item.label" :value="item.value" :key="index"></el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item :label="$t('pb_category')" class="col-6-12 col-md-12-12">
                        <el-select :placeholder="$t('pb_category_placeholder')" v-model="value.category" :multiple="true" class="el-select-block">
                            <el-option v-for="(item, index) in $store.state.Category.items" :label="item.title" :value="String(item.id)" :key="index"></el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item :label="$t('pb_state')" class="col-12-12 col-md-12-12">
                        <el-radio-group :placeholder="$t('pb_state_placeholder')" v-model="value.state" :filterable="true">
                            <el-radio-button v-for="(item, index) in $store.state.State.items" :key="index" :label="item.value">{{ item.label }}</el-radio-button>
                        </el-radio-group>
                    </el-form-item>

                    <div class="col-12-12">
                        <pb-body-position v-model="value.body.partial" position="partial"></pb-body-position>
                    </div>

                </el-tab-pane>
            </el-tabs>           
        </el-form>
    </div>
    <div v-else>
        {{ $t('pb_partial_not_found') }}
    </div>

</template>
<script>

    export default {
        name: 'pb-body-partial',
        i18n: {
            messages: {
                en: {
                    pb_partial_not_found: 'Partial couldn\'t be found.',
                    pb_tab_general: 'General',
                    pb_title: 'Title',
                    pb_title_placeholder: 'Enter title',
                    pb_state: 'State',
                    pb_state_placeholder: 'Select state',
                    pb_lang: 'Language',
                    pb_lang_placeholder: 'Select language',
                    pb_category: 'Category',
                    pb_category_placeholder: 'Select category'
                },
                de: {
                    pb_partial_not_found: 'Partial konnte nicht gefunden werden.',
                    pb_tab_general: 'Allgemein',
                    pb_title: 'Titel',
                    pb_title_placeholder: 'Titel eingeben',
                    pb_state: 'Status',
                    pb_state_placeholder: 'Status auswählen',
                    pb_lang: 'Sprache',
                    pb_lang_placeholder: 'Sprache auswählen',
                    pb_category: 'Kategorie',
                    pb_category_placeholder: 'Kategorie auswählen'
                }
            }
        },
        props: {
            id: {
                default: 0,
                type: [String, Number]
            }
        },
        computed: {
            value () {
                this.$store.dispatch('Partial/buffer', { id: Number(this.id) })
                return this.$store.state.Partial.buffer
            }
        },
        data () {
            return { tab: 'general' }
        },
        mounted () {
            this.$watch('value', () => {
                this.$store.commit('Partial/buffer', this.value)
            }, { deep: true })
        }
    }

</script>
