<template>

    <div class="pb-body-position pb-frame">

        <pb-drag :list="value" :options="{ handle: '.pb-control' }">
            <div class="pb-module" v-for="(item, index) in value" :key="index" v-if="exists(item.type)">
                <pb-control css="is-position" :value="(index + 1) + ' ' + exists(item.type).label" @copy="copy(index)" @remove="remove(index)"></pb-control>
                <div class="pb-module--content">
                    <div :is="item.type" v-model="item.data"></div>
                </div>
            </div>
        </pb-drag>

        <div class="pb-module--toolbar">
            <el-button type="primary" icon="plus" @click="modal.visible = true">{{ $t('pb_module_add') }}</el-button>
        </div>

        <el-dialog :title="$t('pb_module_select')" :visible.sync="modal.visible">

            <div class="pb-module-dialog">
                <div v-for="(item, index) in modules" :key="index" :class="'pb-module-dialog-module' + ' ' + (modal.module === item.value ? 'is-active' : '')" @click="modal.module = item.value" @dblclick="add">
                    <div class="content">{{ item.label }}</div>
                </div>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button @click="modal.visible = false">{{ $t('pb_module_cancel') }}</el-button>
                <el-button type="success" @click="add" :disabled="! modal.module">{{ $t('pb_module_add') }}</el-button>
            </span>

        </el-dialog>

    </div>

</template>
<script>

    module.exports = {
        name: 'pb-body-position',
        i18n: {
            messages: {
                en: {
                    pb_module_add: 'Add Module',
                    pb_module_select: 'Select module',
                    pb_module_cancel: 'Cancel'
                },
                de: {
                    pb_module_add: 'Modul hinzufügen',
                    pb_module_select: 'Modul auswählen',
                    pb_module_cancel: 'Abbrechen'
                }
            }
        },
        props: {
            value: {
                default: () => { return [] },
                type: Array
            },
            position: {
                default: 'undefined',
                type: String
            }
        },
        computed: {
            modules () {
                return _.filter(this.$store.state.Module.items, (item) => {
                    return item.type.indexOf(this.position) !== -1
                })
            }
        },
        data () {
            return {
                modal: {
                    visible: false,
                    module: ''
                }
            }
        },
        methods: {
            add () {
                this.modal.visible = false
                this.value.push({ type: this.modal.module, data: [] })
            },
            copy (index) {
                this.value.splice(index, 0, _.cloneDeep(this.value[index]))
            },
            remove (index) {
                this.value.splice(index, 1)
            },
            exists (index) {
                return _.find(this.modules, { value: index })
            }
        }
    }

</script>