<template>

    <div class="pb-body-page" v-if="value">
        <el-form label-position="top" ref="form">
            <el-tabs v-model="tab">
                <el-tab-pane :label="$t('pb_tab_general')" name="general" class="grid-flex grid-spaced">

                    <el-form-item :label="$t('pb_title')" class="col-6-12 col-12-12">
                        <el-input :placeholder="$t('pb_title_placeholder')" v-model="value.title" class="el-input-large"></el-input>
                    </el-form-item>

                    <el-form-item :label="$t('pb_lang')" class="col-6-12 col-md-12-12">
                        <el-select :placeholder="$t('pb_lang_placeholder')" v-model="value.lang" :filterable="true" class="el-select-block">
                            <el-option v-for="(item, index) in $store.state.Lang.items" :label="item.label" :value="item.value" :key="index"></el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item :label="$t('pb_category')" class="col-6-12 col-md-12-12">
                        <el-select :placeholder="$t('pb_category_placeholder')" v-model="value.category" :multiple="true" class="el-select-block">
                            <el-option v-for="(item, index) in $store.state.Category.items" :label="item.title" :value="String(item.id)" :key="index"></el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item :label="$t('pb_state')" class="col-12-12 col-md-12-12">
                        <el-radio-group :placeholder="$t('pb_state_placeholder')" v-model="value.state" :filterable="true">
                            <el-radio-button v-for="(item, index) in $store.state.State.items" :key="index" :label="item.value">{{ item.label }}</el-radio-button>
                        </el-radio-group>
                    </el-form-item>

                    <div class="col-12-12">
                        <div class="grid-flex grid-spaced">

                            <div class="col-8-12">
                                <pb-body-position v-model="value.body.content" position="content"></pb-body-position>
                            </div>

                            <div class="col-4-12">
                                <pb-body-position v-model="value.body.sidebar" position="sidebar"></pb-body-position>
                            </div>

                            <div class="col-12-12">
                                <pb-body-position v-model="value.body.footer" position="footer"></pb-body-position>
                            </div>

                        </div>
                    </div>

                </el-tab-pane>
                <el-tab-pane :label="$t('pb_tab_meta')" name="meta" class="grid-flex grid-spaced">

                    <el-form-item :label="$t('pb_meta_title')" class="col-6-12">
                        <el-input :placeholder="$t('pb_meta_title_placeholder')"></el-input>
                    </el-form-item>

                    <el-form-item :label="$t('pb_meta_author')" class="col-6-12">
                        <el-input :placeholder="$t('pb_meta_author_placeholder')"></el-input>
                    </el-form-item>

                    <el-form-item :label="$t('pb_meta_description')" class="col-6-12">
                        <el-input :placeholder="$t('pb_meta_description_placeholder')" type="textarea"></el-input>
                    </el-form-item>

                    <el-form-item :label="$t('pb_meta_keywords')" class="col-6-12">
                        <el-input :placeholder="$t('pb_meta_keywords_placeholder')" type="textarea"></el-input>
                    </el-form-item>

                </el-tab-pane>
            </el-tabs>
        </el-form>
    </div>
    <div v-else>
        {{ $t('pb_page_not_found') }}
    </div>

</template>
<script>

    export default {
        name: 'pb-body-page',
        i18n: {
            messages: {
                en: {
                    pb_page_not_found: 'Page couldn\'t be found.',
                    pb_tab_general: 'General',
                    pb_tab_meta: 'Meta',
                    pb_title: 'Title',
                    pb_title_placeholder: 'Enter title',
                    pb_state: 'State',
                    pb_state_placeholder: 'Select state',
                    pb_lang: 'Language',
                    pb_lang_placeholder: 'Select language',
                    pb_category: 'Category',
                    pb_category_placeholder: 'Select category',
                    pb_meta_title: 'Title',
                    pb_meta_title_placeholder: 'Enter title',
                    pb_meta_author: 'Author',
                    pb_meta_author_placeholder: 'Enter author',
                    pb_meta_description: 'Description',
                    pb_meta_description_placeholder: 'Enter description',
                    pb_meta_keywords: 'Keywords',
                    pb_meta_keywords_placeholder: 'Enter keywords'
                },
                de: {
                    pb_page_not_found: 'Seite konnte nicht gefunden werden.',
                    pb_tab_general: 'Allgemein',
                    pb_tab_meta: 'Meta',
                    pb_title: 'Titel',
                    pb_title_placeholder: 'Titel eingeben',
                    pb_state: 'Status',
                    pb_state_placeholder: 'Status auswählen',
                    pb_lang: 'Sprache',
                    pb_lang_placeholder: 'Sprache auswählen',
                    pb_category: 'Kategorie',
                    pb_category_placeholder: 'Kategorie auswählen',
                    pb_meta_title: 'Titel',
                    pb_meta_title_placeholder: 'Titel eingeben',
                    pb_meta_author: 'Ersteller',
                    pb_meta_author_placeholder: 'Max Mustermann',
                    pb_meta_description: 'Beschreibung',
                    pb_meta_description_placeholder: 'Beschreibung eingeben',
                    pb_meta_keywords: 'Schlagwörter',
                    pb_meta_keywords_placeholder: 'keywords, key, words ...'
                }
            }
        },
        props: {
            id: {
                default: 0,
                type: [String, Number]
            }
        },
        computed: {
            value () {
                this.$store.dispatch('Page/buffer', { id: Number(this.id) })
                return this.$store.state.Page.buffer
            }
        },
        data () {
            return { tab: 'general' }
        },
        mounted () {
            this.$watch('value', () => {
                this.$store.commit('Page/buffer', this.value)
            }, { deep: true })
        }
    }

</script>
