<template>
    <div class="pb-body">
        <div class="pb-body--toolbar" v-if="$slots.toolbar">
            <slot name="toolbar"></slot>
        </div>
        <div class="pb-body--filter" v-if="$slots.filter">
            <slot name="filter"></slot>
        </div>
        <div class="pb-body--category" v-if="$slots.category">
            <slot name="category"></slot>
        </div>
        <div class="pb-body--content">
            <slot></slot>
        </div>
        <div class="pb-body--pagination" v-if="$slots.pagination">
            <slot name="pagination"></slot>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'pb-body'
    }
</script>