$res-xs: 320px;
$res-sm: 480px;
$res-md: 768px;
$res-lg: 1024px;

@mixin media-xs {
    @media (max-width: $res-xs) { @content; }
}

@mixin media-sm {
    @media (max-width: $res-sm) { @content; }
}

@mixin media-md {
    @media (max-width: $res-md) { @content; }
}

@mixin media-lg {
    @media (max-width: $res-lg) { @content; }
}

@mixin media-xl {
    @media (max-width: $res-xl) { @content; }
}

@import "./zeus.scss";

// Include grid basic classes
@include zgrid('grid', 1em);

// Create 12 column grid
@include zcolumn('col', 12); @include zcolumn('col', 10);
@include media-lg { @include zcolumn('col-lg', 12); @include zcolumn('col-lg', 10); }
@include media-md { @include zcolumn('col-md', 12); @include zcolumn('col-md', 10); }
@include media-sm { @include zcolumn('col-sm', 12); @include zcolumn('col-sm', 10); }
@include media-xs { @include zcolumn('col-xs', 12); @include zcolumn('col-xs', 10); }

$white: #fff;
$black: #000;
$gray: #eee;

$red: #FF4949;
$blue: #20A0FF;
$green: #13CE66;
$yellow: #F7BA2A;
$royal: #10223E;

* {
    outline: none !important;
}

// .navbar-inverse .navbar-inner {
//     background: $royal !important;
//     border: 0;
// }

// .navbar-inverse.navbar .admin-logo, .navbar-inverse.navbar .brand {
//     padding: 12px 10px;
// }

// .navbar-inverse .nav li.dropdown.open:after {
//     top: 100% !important;
//     margin-top: -5px;
// }

// .navbar-inverse .nav li.dropdown > .dropdown-toggle {
//     padding: 12px 10px;
// }

// .navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
//     background: lighten($royal, 10%) !important;
// }

// .navbar-inverse .nav li.dropdown.open > .dropdown-menu:before {
//     display: none;
// }

.header,
.subhead-collapse,
.btn-subhead {
    display: none !important;
}

// Element ui

.el-pagination .el-input {
	width: auto !important;
}

.el-pagination span,
.el-pagination button,
.el-pager li {
	min-height: 36px !important;
	line-height: 36px !important;
}

.el-form {
    margin-bottom: 0 !important;
}

.el-input-number {
	width: auto !important;
}

.el-input input {
    display: block !important;
    width: 100% !important;
    min-height: 36px !important;
    padding: 3px 10px !important;
    line-height: 1 !important;
	margin-bottom: 0 !important;
}

.el-input.el-input-large input {
    font-size: 1.2em !important;
    padding: 9px 10px !important;
}

.el-textarea textarea {
    min-height: 8em;
}

.el-input input[type="text"],
.el-textarea textarea {
    border-color: $white !important;
    background: $white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12) !important;
}

.el-input input[type="text"]:hover,
.el-input input[type="text"]:focus,
.el-textarea textarea:hover,
.el-textarea textarea:focus {
    border-color: $blue !important;
}

.el-button-block {
    display: block !important;
	width: 100% !important;
}

.el-select-block,
.el-select-block input,
.el-select-block .el-input {
    display: block !important;
	width: 100% !important;
}

.el-cascader-block,
.el-cascader-block input,
.el-cascader-block .el-input {
	display: block !important;
	width: 100% !important;
}

.el-tabs__content {
    overflow: visible !important;
}

.el-tab-pane {
    padding: 1em 0;
}

.el-pagination {
    padding: 0 !important;
}

.sortable-ghost {
	opacity: 0.5;
}

.mce-tinymce {
	overflow: hidden !important;
	border-width: 0 !important;
}

.mce-edit-area,
.mce-statusbar {
	border-top: 0 !important;
}


// Reset
.pb-reset {
    position: relative;
    min-height: calc(100vh - 31px);
    margin: -0 -20px -50px -20px;
    padding-bottom: 28px;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    background: lighten($gray, 4%);
}

body.component .pb-reset {
    min-height: auto;
    background: $white;
}

.pb-reset * {
    box-sizing: border-box;
}

.pb-reset h1,
.pb-reset h2,
.pb-reset h3,
.pb-reset h4,
.pb-reset h5,
.pb-reset h6 {
    color: $royal;
}

.pb-reset h1,
.pb-reset h2,
.pb-reset h3,
.pb-reset h4 {
    font-weight: normal;
}

.pb-reset ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pb-reset a,
.pb-reset a:active,
.pb-reset a:visited {
    color: $blue;
    text-decoration: none !important;
}

.pb-reset a:hover {
    color: darken($blue, 5%);
}

// Frame

.pb-frame {
    margin-bottom: 1em;
    border-radius: 2px;
    background: $white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

// Sidebar

.pb-sidebar {
    position: relative;
    width: 75px;
    background: lighten($royal, 5%);
}

// Body

.pb-body {
    flex: 1;
}

.pb-body--content {
    padding: 1em 2em;
}

// Position

.pb-module {
    border-top: 1px solid lighten($gray, 2%);
    background: $white;
}

// .pb-module:first-child {
//     border-top: 0;
// }

.pb-module--content {
    padding: 1em 1em 0;
}

.pb-module .el-input input[type="text"],
.pb-module .el-textarea textarea {
    border-color: rgb(204, 204, 204) !important;
    box-shadow: none !important;
}

.pb-module .el-input input[type="text"]:hover,
.pb-module .el-input input[type="text"]:focus,
.pb-module .el-textarea textarea:hover,
.pb-module .el-textarea textarea:focus {
    border-color: $blue !important;
}

.pb-module--toolbar {
    border-top: 1px solid lighten($gray, 2%);
    padding: 1em;
    text-align: center;
}
.pb-module--toolbar:first-child {
    border-top: 0;
}

.pb-module-dialog {
    max-height: 400px;
    overflow-y: scroll;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pb-module-dialog-module {
    cursor: pointer;
    font-weight: bold;
    padding: 1em;
    border-top: 1px solid lighten($gray, 2%);
}

.pb-module-dialog-module:hover {
    background: lighten($gray, 4%);
}

.pb-module-dialog-module.is-active {
    color: $white;
    background: $blue;
    border-top: 1px solid $blue;
}

// Control

.pb-control {
    background: lighten($gray, 2%);
    border-radius: 2px;
}

.pb-control.is-position {
    background: $royal;
    border-radius: 2px;
}

.pb-control-title {
    flex: 1;
}

.pb-control-title h1,
.pb-control-title h2,
.pb-control-title h3,
.pb-control-title h4,
.pb-control-title h5,
.pb-control-title h6 {
    display: block;
    padding: 0.5em 1em;
    color: $royal;
}

.pb-control.is-position h1,
.pb-control.is-position h2,
.pb-control.is-position h3,
.pb-control.is-position h4,
.pb-control.is-position h5,
.pb-control.is-position h6 {
    color: $white;
}

.pb-control-toolbar {
    margin-left: auto;
    padding: 0.5em 1em;
}

.pb-control-toolbar .el-button {
    // border-radius: 999px;
    // width: 32px;
    // height: 32px;
}

// Page

.pb-body-page {
    padding: 1em 0;
}

// Partial

.pb-body-partial {
    padding: 1em 0;
}

// Items

.pb-items, .pb-items-empty {
    font-size: 1.1em;
    margin: 2em 0 1em;
    background: $white;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pb-items-empty {
    text-align: center;
    padding: 1em 1.2em;
}

.pb-items-header {
    background: $royal;
    border-radius: 2px;
}

.pb-items-header [class^="col-"],
.pb-items-header [class*="col-"] {
    padding: 1em 1.2em;
    color: $white;
}

.pb-items-item {
    border-bottom: 1px solid lighten($gray, 2%);
}

.pb-items-item:hover {
    background: lighten($gray, 4%);
}

.pb-items-item:last-child {
    border-bottom: 0;
}

.pb-items-item [class^="col-"],
.pb-items-item [class*="col-"] {
    padding: 1em 1.2em;
}

// Pagination

.pb-pagination {
    padding: 1em 0;
}

// Toolbar

.pb-toolbar {
    z-index: 100;
    position: relative;
    height: 75px;
    background: $white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pb-toolbar-item {
    margin-left: -1px;
    font-size: 1.1em;
    transition: background 0.3s;
    border-left: 1px solid lighten($gray, 2%);
    border-right: 1px solid lighten($gray, 2%);
}

.pb-toolbar-item:first-child {
    margin-left: 0;
    border-left: 0;
}

.pb-toolbar-item.pull-right:last-child {
    border-right: 0;
}

.pb-toolbar-item:hover {
    background: lighten($gray, 4%);
}

.pb-toolbar-item a {
    padding: 0 1.75em;
    height: 75px;
    line-height: 75px;
    display: block;
}

.pb-toolbar-item a,
.pb-toolbar-item a:hover,
.pb-toolbar-item a:active,
.pb-toolbar-item a:visited,
.pb-toolbar-item a i:before, {
    color: $blue;
}

.pb-toolbar-item.red a,
.pb-toolbar-item.red a:hover,
.pb-toolbar-item.red a:active,
.pb-toolbar-item.red a:visited,
.pb-toolbar-item.red a i:before, {
    color: $red;
}

.pb-toolbar-item.green a,
.pb-toolbar-item.green a:hover,
.pb-toolbar-item.green a:active,
.pb-toolbar-item.green a:visited,
.pb-toolbar-item.green a i:before, {
    color: $green;
}

.pb-toolbar-item.yellow a,
.pb-toolbar-item.yellow a:hover,
.pb-toolbar-item.yellow a:active,
.pb-toolbar-item.yellow a:visited,
.pb-toolbar-item.yellow a i:before, {
    color: $yellow;
}

.pb-toolbar-item a span {
    margin-left: 0.5em;
}

// Menu

.pb-menu-item {
    position: relative;
    font-size: 1.4em;
    transition: background 0.3s;
}

.pb-menu-item:first-child {
    background: $blue;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pb-menu-item:hover {
    background: lighten($royal, 10%);
}

.pb-menu-item:first-child:hover {
    background: lighten($blue, 5%);
}

.pb-menu-item .pb-menu-item--tooltip {
    z-index: 50;
    position: absolute;
    top: 17.5px;
    left: 110%;
    display: none;
    padding: 0 1.75em;
    height: 35px;
    line-height: 35px;
    font-size: 0.8em;
    border-radius: 2px;
    opacity: 0.95;
    color: $royal;
    background: darken($gray, 10%);
}

.pb-menu-item:hover .pb-menu-item--tooltip {
    display: block;
}

.pb-menu-item a {
    width: 75px;
    height: 75px;
    line-height: 75px;
    display: block;
    color: $white;
    text-align: center;
}

.pb-menu-item a:hover,
.pb-menu-item a:active,
.pb-menu-item a:visited {
    color: $white;
    text-decoration: none;
}

// Filter

.pb-filter {
    padding: 2em 2em 0;
}

// Image

.pb-image-input {
    display: flex;
}

.pb-image-input .el-input {
    margin-right: 1em;
}

.pb-image-dialog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid lighten($gray, 2%);
}

.pb-image-dialog-folder,
.pb-image-dialog-image {
    cursor: pointer;
    position: relative;
    width: 33.332%;
}

.pb-image-dialog-folder:before,
.pb-image-dialog-image:before {
    content: '\00a0';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-bottom: 1px solid lighten($gray, 2%);
    border-right: 1px solid lighten($gray, 2%);
}

.pb-image-dialog-folder div,
.pb-image-dialog-image div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.pb-image-dialog-image strong {
    margin-top: 1em;
    word-break: break-all;
    line-height: 1;
}

.pb-image-dialog-image img {
    display: block;
    width: auto;
    max-width: 80%;
    height: auto;
    max-height: 80%;
}

.pb-image-dialog-folder:hover,
.pb-image-dialog-image:hover {
    background: lighten($gray, 4%);
}

.pb-image-dialog-image.is-active {
    color: $white;
    background: $blue;
}

// Link

.pb-link-input {
    display: flex;
}

.pb-link-input .el-input {
    margin-right: 1em;
}

.pb-link-dialog-menutype {
    padding: 1em;
    border-top: 1px solid lighten($gray, 2%);
}

.pb-link-dialog {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pb-link-menu > .pb-link-menu-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    border-top: 1px solid lighten($gray, 2%);
}

.pb-link-menu > .pb-link-menu-item .is-title {
    font-weight: bold;
    margin-left: 1em;
}

.pb-link-menu > .pb-link-menu-item .is-id {
    margin-left: auto;
    color: darken($gray, 10%);
}

.pb-link-menu > .pb-link-menu-item:hover {
    background: lighten($gray, 4%);
}

.pb-link-menu > .pb-link-menu-item.is-active {
    color: $white;
    background: $blue;
    border-color: $blue;
}

.pb-link-menu > .pb-link-menu-item.is-active .is-id {
    color: lighten($blue, 20%);
}

.pb-link-menu > .pb-link-menu-childs {
    border-right: 2em solid lighten($gray, 2%);
}

.pb-link-menu > .pb-link-menu-childs .pb-link-menu-childs {
    border-color: darken($gray, 2%);
}

.pb-link-menu > .pb-link-menu-childs .pb-link-menu-childs .pb-link-menu-childs {
    border-color: lighten($gray, 2%);
}

.pb-link-menu > .pb-link-menu-childs .pb-link-menu-childs .pb-link-menu-childs .pb-link-menu-childs {
    border-color: darken($gray, 2%);
}

// Tinymce

.pb-tinymce {
    min-height: 54px;
    background: $gray;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.pb-tinymce-disabled {
    display: flex;
    align-items: center;
    padding: 1em;
    background: $gray;
}

.pb-tinymce-disabled .el-button {
    margin-left: auto;
}

// Partial

.pb-partial-input {
    display: flex;
}

.pb-partial-input .el-input {
    margin-right: 1em;
}

.pb-partial-dialog-menutype {
    padding: 1em;
    border-top: 1px solid lighten($gray, 2%);
}

.pb-partial-dialog {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pb-partial-dialog-partial {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    border-top: 1px solid lighten($gray, 2%);
}

.pb-partial-dialog-partial .is-title {
    font-weight: bold;
    margin-left: 1em;
}

.pb-partial-dialog-partial .is-id,
.pb-partial-dialog-partial .is-lang {
    margin-left: auto;
    color: darken($gray, 10%);
}

.pb-partial-dialog-partial:hover {
    background: lighten($gray, 4%);
}

.pb-partial-dialog-partial.is-active {
    color: $white;
    background: $blue;
    border-color: $blue;
}

.pb-partial-dialog-partial.is-active .is-id,
.pb-partial-dialog-partial.is-active .is-lang {
    color: lighten($blue, 20%);
}