
// Zeus grid generator
// v1.0.0

@mixin zreset($base: 1em) {

    * {
        box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    }  

    html, body {
        font-size: $base; margin: 0; padding: 0; font-family: sans-serif; line-height: 1.2;
    }

    table {
        border-collapse: collapse; border-spacing: 0;
    }

    form, ul, ol {
        margin: 0; padding: 0;
    }

    button, input, textarea {
        font-size: $base; outline: none; background: transparent; border: 0;
    }

    a {
        text-decoration: none;
    }

    a, img {
        outline: none;
    }

    .clearfix:after {
        content: '\00a0';
        display: block;
        height: 0;
        clear: both;
    }

    .block {
        width: 100%;
        display: block;
    }

}

@mixin zgrid($prefix: 'grid', $margin: 1.5em) {

    [class^="#{$prefix}-"],
    [class*="#{$prefix}-"] {
        box-sizing: border-box;
    }

    .#{$prefix}-clearfix:after {
        content: '\00a0'; display: table; width: 0; clear: both;
    }

    .#{$prefix}-float {
        display: block;
    }

    .#{$prefix}-float > .pull-left {
        float: left;
    }

    .#{$prefix}-float > .pull-right {
        float: right;
    }

    .#{$prefix}-flex {
        display: flex; flex-direction: row; flex-wrap: wrap;
    }

    .#{$prefix}-flex.align-left {
        justify-content: flex-start;
    }

    .#{$prefix}-flex.align-center {
        justify-content: center;
    }

    .#{$prefix}-flex.align-right {
        justify-content: flex-end;
    }

    .#{$prefix}-flex.align-top {
        align-items: flex-start;
    }

    .#{$prefix}-flex.align-middle {
        align-items: center;
    }

    .#{$prefix}-flex.align-bottom {
        align-items: flex-end;
    }

    .#{$prefix}-flex.align-stretch {
        align-items: stretch;
    }

    .#{$prefix}-flex > .pull-left {
        margin-right: auto;
    }

    .#{$prefix}-flex > .pull-center {
        margin-left: auto; margin-right: auto;
    }

    .#{$prefix}-flex > .pull-right {
        margin-left: auto;
    }

    .#{$prefix}-flex > .pull-top {
        align-self: flex-start;
    }

    .#{$prefix}-flex > .pull-middle {
        align-self: center;
    }

    .#{$prefix}-flex > .pull-bottom {
        align-self: flex-end;
    }

    .#{$prefix}-spaced {
        margin-left: $margin * -1;
        margin-right: $margin * -1;
        width: calc(100% + #{$margin * 2});
    }

    .#{$prefix}-spaced > [class^="col-"],
    .#{$prefix}-spaced > [class*="col-"] {
        padding-left: $margin;
        padding-right: $margin;
    }

    .#{$prefix}-spaced > .col-12-fix {
        width: calc(100% - #{ $margin * 2});
        padding-left:0;
        padding-right:0;
        margin-left: $margin;
        margin-right: $margin;
    }

}

@mixin zcolumn($prefix: 'col', $units: 12) {

    [class^="#{$prefix}-"], [class*="#{$prefix}-"] {
        box-sizing: border-box;
    }

    @for $i from 0 to $units + 1 {
        .#{$prefix}-#{$i}-#{$units} { float: left; width: 100% / $units * $i; }
    }

}

@mixin zoffset($prefix: 'off', $units: 12) {

    [class^="#{$prefix}-"], [class*="#{$prefix}-"] {
        box-sizing: border-box;
    }

    @for $i from 0 to $units + 1 {
        .#{$prefix}-#{$i}-#{$units} { margin-left: 100% / $units * $i; }
    }

}

@mixin zratio($prefix: 'asr', $ratios: 16) {

    @for $i from 0 to $ratios + 1 {
        .#{$prefix}-#{$ratios}-#{$i}:before { content: '\00a0'; display: block; height: 0; padding-bottom: 100% / $ratios * $i; }
    }

}

@mixin zbutton($prefix: 'btn', $primary: #337ab7, $success: #5cb85c, $info: #5bc0de, $warning: #f0ad4e, $danger: #d9534f, $link: #cccccc) {

    .#{$prefix} {
        @content;
    }

    .#{$prefix}[disabled="disabled"] {
        opacity: 0.6;
    }

    .#{$prefix},
    .#{$prefix}-primary {
        color: white;
        background-color: $primary;
    }

    .#{$prefix} a,
    .#{$prefix}-primary a {
        color: white;
    }

    .#{$prefix}:hover,
    .#{$prefix}-primary:hover {
        background-color: lighten($primary, 5%);
    }

    .#{$prefix}:active,
    .#{$prefix}-primary:active {
        background-color: darken($primary, 5%);
    }

    .#{$prefix}-success {
        color: white;
        background-color: $success;
    }

    .#{$prefix}-success a {
        color: white;
    }

    .#{$prefix}-success:hover {
        background-color: lighten($success, 5%);
    }

    .#{$prefix}-success:active {
        background-color: darken($success, 5%);
    }

    .#{$prefix}-info {
        color: white;
        background-color: $info;
    }

    .#{$prefix}-info a {
        color: white;
    }

    .#{$prefix}-info:hover {
        background-color: lighten($info, 5%);
    }

    .#{$prefix}-info:active {
        background-color: darken($info, 5%);
    }

    .#{$prefix}-warning {
        color: white;
        background-color: $warning;
    }

    .#{$prefix}-warning a {
        color: white;
    }

    .#{$prefix}-warning:hover {
        background-color: lighten($warning, 5%);
    }

    .#{$prefix}-warning:active {
        background-color: darken($warning, 5%);
    }

    .#{$prefix}-danger {
        color: white;
        background-color: $danger;
    }

    .#{$prefix}-danger a {
        color: white;
    }

    .#{$prefix}-danger:hover {
        background-color: lighten($danger, 5%);
    }

    .#{$prefix}-danger:active {
        background-color: darken($danger, 5%);
    }

    .#{$prefix}-link {
        color: black;
        background-color: $link;
    }

    .#{$prefix}-link a {
        color: black;
    }

    .#{$prefix}-link:hover {
        background-color: lighten($link, 5%);
    }

    .#{$prefix}-link:active {
        background-color: darken($link, 5%);
    }

    .#{$prefix}-block {
        display: block;
        width: 100%;
        text-align: center;
    }
    
}

@mixin zlabel($prefix: 'label', $default: #cccccc, $inverse: #222, $primary: #337ab7, $success: #5cb85c, $info: #5bc0de, $warning: #f0ad4e, $danger: #d9534f) {

    .#{$prefix} {
        @content;
    }

    .#{$prefix} {
        color: black;
        background-color: $default;
    }

    .#{$prefix}-inverse {
        color: white;
        background-color: $inverse;
    }

    .#{$prefix}-primary {
        color: white;
        background-color: $primary;
    }

    .#{$prefix}-success {
        color: white;
        background-color: $success;
    }

    .#{$prefix}-info {
        color: white;
        background-color: $info;
    }

    .#{$prefix}-warning {
        color: white;
        background-color: $warning;
    }

    .#{$prefix}-danger {
        color: white;
        background-color: $danger;
    }

    .#{$prefix}-block {
        display: block;
        width: 100%;
        text-align: center;
    }
    
}

@mixin zalert($prefix: 'alert', $warning: #f0ad4e, $success: #5cb85c, $info: #5bc0de, $error: #d9534f) {

    .#{$prefix} {
        @content;
    }

    .#{$prefix} {
        color: $warning;
        border: 1px solid $warning;
    }

    .#{$prefix}-success {
        color: $success;
        border: 1px solid $success;
    }

    .#{$prefix}-info {
        color: $info;
        border: 1px solid $info;
    }

    .#{$prefix}-error {
        color: $error;
        border: 1px solid $error;
    }
    
}