<template>
    <div :class="'pb-control grid-flex align-middle' + ' ' + css">
        <div class="pb-control-title" v-if="value" v-html="title()"></div>
        <div class="pb-control-toolbar">
            <el-button type="primary" icon="document" size="small" @click="copy">{{ $t('pb_copy')}}</el-button>
            <el-button type="danger" icon="delete" size="small" @click="remove">{{ $t('pb_remove')}}</el-button>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'pb-control',
        i18n: {
            messages: {
                en: {
                    pb_copy: 'Copy',
                    pb_remove: 'Remove'
                },
                de: {
                    pb_copy: 'Kopieren',
                    pb_remove: 'Löschen'
                }
            }
        },
        props: {
            value: {
                default: '',
                type: String
            },
            confirm: {
                default: '',
                type: String
            },
            css: {
                default: '',
                type: String
            },
            size: {
                default: 'h5',
                type: String
            }
        },
        methods: {
            title () {
                var value = this.value.replace(/<(?:.|\n)*?>/gm, ' ').replace(/\s{2,}/g, ' ')

                if ( value.length > 80 ) {
                    value = value.substr(0, 80 - 1) + '&hellip;'
                }

                return '<' + this.size + '>' + value + '</' + this.size + '>'
            },
            copy () {
                this.$emit('copy')
            },
            remove () {
                this.$emit('remove')
            }
        }
    }
</script>