<template>
    <div class="pb-image">

        <div class="pb-image-input">
            <el-input :value="value" :disabled="disabled" @input="update"></el-input>
            <el-button type="primary" icon="picture" @click="modal.visible = true">{{ $t('pb_image_select') }}</el-button>
        </div>
        
        <el-dialog :title="$t('pb_image_select')" :visible.sync="modal.visible">

            <div class="pb-image-dialog">

                <div class="pb-image-dialog-folder" v-if="modal.folder" @click="moveup">
                    <div>
                        <i class="el-icon-arrow-left"></i>
                    </div>
                </div>

                <div class="pb-image-dialog-folder" v-for="(folder, index) in folders" :key="index" @click="moveto(index)">
                    <div>
                        <i class="el-icon-plus"></i>
                        <strong>{{ index }}</strong>
                    </div>
                </div>

                <div v-for="(image, index) in images" :key="index" :class="'pb-image-dialog-image' + ' ' + (modal.image === image ? 'is-active' : '') " @click="modal.image = image" @dblclick="apply">
                    <div>
                        <img :src="image" :alt="index">
                        <strong>{{ index }}</strong>
                    </div>
                </div>

            </div>

            <span slot="footer" class="dialog-footer">
                <el-button @click="modal.visible = false">{{ $t('pb_image_cancel') }}</el-button>
                <el-button type="danger" @click="remove">{{ $t('pb_image_remove') }}</el-button>
                <el-button type="success" @click="apply" :disabled="! modal.image">{{ $t('pb_image_apply') }}</el-button>
            </span>

        </el-dialog>

    </div>
</template>
<script>

    export default {
        name: 'pb-image',
        i18n: {
            messages: {
                en: {
                    pb_image_select: 'Select image',
                    pb_image_apply: 'Apply image',
                    pb_image_remove: 'Remove image',
                    pb_image_cancel: 'Cancel'
                },
                de: {
                    pb_image_select: 'Bild auswählen',
                    pb_image_apply: 'Bild übernehmen',
                    pb_image_remove: 'Bild entfernen',
                    pb_image_cancel: 'Abbrechen'
                }
            }
        },
        props: {
            value: {
                default: '',
                type: String
            },
            disabled: {
                default: true,
                type: Boolean
            },
            filter: {
                default: 'png|jpg|jpeg',
                type: String
            }
        },
        computed: {
            regexp() {
                return new RegExp('^(.*?)\.(' + this.filter + ')$')
            },
            images() {
                var images = this.$store.state.Image.items

                if ( this.modal.folder !== '' ) {
                    images = _.get(images, this.modal.folder)
                }

                return _.pickBy(images, (item) => {
                    return _.isString(item) && item.match(this.regexp)
                })
            },
            folders() {
                var folders = this.$store.state.Image.items

                if ( this.modal.folder !== '' ) {
                    folders = _.get(folders, this.modal.folder)
                }

                return _.pickBy(folders, (item) => {
                    return _.isPlainObject(item)
                })
            }
        },
        data() {
            return {
                modal: {
                    visible: false,
                    folder: '',
                    image: ''
                }
            }
        },
        mounted() {
            if ( ! this.value ) {
                return
            }

            var folder = this.value.replace(/^(\/images\/|\/|images\/)/, '').split('/'), file = folder.pop()
            console.log(folder)
            this.modal.folder = folder.join('.'), this.modal.image = '/images/' + this.value.replace(/^(\/|images\/)/, '')
        },
        methods: {
            moveup () {
                this.modal.folder = this.modal.folder.replace(/\.?(.*?)$/i, '')
            },
            moveto (folder) {
                this.modal.folder = this.modal.folder ? this.modal.folder + '.' + folder : folder 
            },
            remove () {
                this.modal.visible = false
                this.$emit('input', '')
            },
            update(value) {
                this.$emit('input', value)
            },
            apply () {
                this.modal.visible = false
                this.$emit('input', this.modal.image)
            }
        }
    }

</script>