<template>
    <div class="pb-link">

        <div class="pb-link-input">
            <el-input :value="value" :disabled="disabled" @input="update"></el-input>
            <el-button type="primary" icon="edit" @click="modal.visible = true">{{ $t('pb_link_select') }}</el-button>
        </div>
        
        <el-dialog :title="$t('pb_link_select')" :visible.sync="modal.visible">

            <div class="pb-link-dialog">

                <div class="pb-link-dialog-menutype">
                    <el-select :placeholder="$t('pb_menutype_select')" v-model="modal.menutype" class="el-select-block">
                        <el-option v-for="(menutype, index) in menutypes" :key="index" :label="menutype.title" :value="menutype.menutype"></el-option>
                    </el-select>
                </div>

                <template v-if="menutype">
                    <pb-link-menu v-for="(menu, index) in menutype.menu_backend" :key="index" :value="menu" :menu="modal.menu" @click="click"></pb-link-menu>
                </template>

            </div>

            <span slot="footer" class="dialog-footer">
                <el-button @click="modal.visible = false">{{ $t('pb_link_cancel') }}</el-button>
                <el-button type="danger" @click="remove">{{ $t('pb_link_remove') }}</el-button>
                <el-button type="success" @click="apply" :disabled="! modal.menu">{{ $t('pb_link_apply') }}</el-button>
            </span>

        </el-dialog>

    </div>
</template>
<script>

    import LinkMenu from './link-menu.vue'

    module.exports = {
        name: 'pb-link',
        i18n: {
            messages: {
                en: {
                    pb_link_select: 'Select link',
                    pb_link_apply: 'Apply link',
                    pb_link_remove: 'Remove link',
                    pb_link_cancel: 'Cancel',
                    pb_menutype_select: 'Select menutype'
                },
                de: {
                    pb_link_select: 'Link auswählen',
                    pb_link_apply: 'Link übernehmen',
                    pb_link_remove: 'Link entfernen',
                    pb_link_cancel: 'Abbrechen',
                    pb_menutype_select: 'Menütyp auswählen'
                }
            }
        },
        components: {
            'pb-link-menu': LinkMenu
        },
        props: {
            value: {
                default: '',
                type: [String, Number]
            },
            disabled: {
                default: false,
                type: Boolean
            },
            route: {
                default: true,
                type: Boolean
            }
        },
        computed: {
            menutypes () {
                return this.$store.state.MenuType.items
            },
            menutype () {
                return _.find(this.menutypes, (item) => {
                    return this.modal.menutype === item.menutype
                })
            }
        },
        data () {
            return {
                modal: {
                    visible: false,
                    menutype: '',
                    menu: ''
                }
            }
        },
        mounted () {

            var isMenu = String(this.value).match(/(Itemid=[0-9]+|^[0-9]+$)/)

            if ( isMenu.length === 0 ) {
                return
            }

            var id = isMenu.shift().replace('Itemid=', '')

            var menu = _.find(this.$store.state.Menu.items, (item) => {
                return item.id === Number(id)
            })

            console.log(menu)

            if ( ! menu ) {
                return
            }

            this.modal.menutype = menu.menutype
            this.modal.menu = menu.id
        },
        methods: {
            click (value) {
                this.modal.menu = value
            },
            remove () {
                this.modal.visible = false
                this.$emit('input', '')
            },
            update (value) {
                this.$emit('input', value)
            },
            apply () {
                this.modal.visible = false
                this.$emit('input', this.route ? '/index.php?Itemid=' + this.modal.menu : this.modal.menu)
            }
        }

    };

    _.set(window, '$pagebuilder.app.components.pagebuilder-link', module.exports)

</script>