<template>

    <div class="pb-link-menu">
        <div :class="'pb-link-menu-item' + ' ' + (Number(menu) === Number(value.id) ? 'is-active' : '')" @click="click(value.id)">
            <el-tag :type="value.stateObject.type">{{ value.stateObject.label }}</el-tag>
            <span class="is-title">{{ value.title }}</span>
            <span class="is-id">{{ value.id }}</span>
        </div>
        <div v-if="value.menu_backend" class="pb-link-menu-childs">
            <pb-link-menu v-for="(child, index) in value.menu_backend" :key="index" :value="child" :menu="menu" @click="click"></pb-link-menu>
        </div>
    </div>

</template>
<script>

    export default {
        name: 'pb-link-menu',
        props: {
            value: {
                default: () => { return {} },
                type: Object
            },
            menu: {
                default: '',
                type: [String, Number]
            }
        },
        methods: {
            click (value) {
                this.$emit('click', value)
            }
        }
    }
    
</script>