<template>
    <div class="pb-partial">

        <div class="pb-partial-input">
            <el-input :value="value" :disabled="disabled" @input="update"></el-input>
            <el-button type="primary" icon="picture" @click="modal.visible = true">{{ $t('pb_partial_select') }}</el-button>
        </div>
        
        <el-dialog :title="$t('pb_partial_select')" :visible.sync="modal.visible">

            <div class="pb-partial-dialog">

                <div v-for="(partial, index) in partials" :key="index" :class="'pb-partial-dialog-partial' + ' ' + (modal.partial === partial.id ? 'is-active' : '') " @click="modal.partial = partial.id" @dblclick="apply">
                    <el-tag :type="partial.stateObject.type">{{ partial.stateObject.label }}</el-tag>
                    <span class="is-title">{{ partial.title }}</span>
                    <span class="is-lang">{{ partial.langObject.label }}</span>
                </div>

            </div>

            <span slot="footer" class="dialog-footer">
                <el-button @click="modal.visible = false">{{ $t('pb_partial_cancel') }}</el-button>
                <el-button type="success" @click="apply" :disabled="! modal.partial">{{ $t('pb_partial_apply') }}</el-button>
            </span>

        </el-dialog>

    </div>
</template>
<script>

    export default {
        name: 'pb-partial',
        i18n: {
            messages: {
                en: {
                    pb_partial_select: 'Select partial',
                    pb_partial_apply: 'Apply partial',
                    pb_partial_remove: 'Remove partial',
                    pb_partial_cancel: 'Cancel'
                },
                de: {
                    pb_partial_select: 'Partial auswählen',
                    pb_partial_apply: 'Partial übernehmen',
                    pb_partial_remove: 'Partial entfernen',
                    pb_partial_cancel: 'Abbrechen'
                }
            }
        },
        props: {
            value: {
                default: '',
                type: [String, Number]
            },
            disabled: {
                default: true,
                type: Boolean
            }
        },
        computed: {
            partials() {
                return this.$store.state.Partial.items
            }
        },
        data() {
            return {
                modal: {
                    visible: false,
                    partial: ''
                }
            }
        },
        mounted() {

        },
        methods: {
            update(value) {
                this.$emit('input', value)
            },
            apply () {
                this.modal.visible = false
                this.$emit('input', this.modal.partial)
            }
        }
    }

</script>