<template>

    <div class="pb-tinymce">
        <div v-if="drag" class="pb-tinymce-disabled">
            <span>{{ $t('pb_editor_disabled') }}</span>
            <el-button type="success" size="small" @click="restore">{{ $t('pb_editor_restore') }}</el-button>
        </div>
        <div v-else class="pb-tinymce-editor">
            <div :id="unique"></div>
        </div>
    </div>

</template>
<script>

    import $ from 'jquery'

    export default {
        name: 'pb-tinymce',
        i18n: {
            messages: {
                en: {
                    pb_editor_disabled: 'The editor is during drag and drop disabled.',
                    pb_editor_restore: 'Restore'
                },
                de: {
                    pb_editor_disabled: 'Der Editor ist während dem Verschieben deaktiviert.',
                    pb_editor_restore: 'Widerherstellen'
                }
            }
        },
        props: {
            value: {
                default: '',
                type: String
            },
            height: {
                default: 150
            },
            menubar: {
                default: true
            }
        },
        computed: {
            unique () {
                return _.uniqueId('pb_tinymce')
            },
            options () {
                return this.config()
            }
        },
        data () {
            return {
                editor: null,
                drag: false
            }
        },
        mounted () {
            $(window).on('dragon', () => {
                this.drag = true
            })

            $(window).on('dragoff', () => {
                this.drag = false
            })

            $(window).unbind('choose').on('choose', () => {
                $(window).trigger('dragon')
            })

            $(window).unbind('update').on('update', () => {
                $(window).trigger('dragoff')
            })

            this.$nextTick(this.create)
        },
        watch: {
            drag () {
                return this.drag ? this.editor.destroy() : this.$nextTick(this.create)
            }
        },
        methods: {
            create () {
                this.editor = new tinymce.Editor(this.unique, this.options, tinymce.EditorManager)
                this.editor.render()
            },
            restore () {
                $(window).trigger('dragoff')
            },
            
            config() {
                return {
                    script_url:     '/media/editors/tinymce/tinymce.min.js',
                    height:         this.height,
                    menubar:        this.menubar,
                    plugins:        this.plugins(),
                    toolbar:        this.toolbar(),
                    setup:          this.setup,

                    textcolor_map: [
                        'ffffff', 'White', 
                        '000000', 'Black', 
                        '183c73', 'Blue', 
                        'dc0b2c', 'Red', 
                        'f5f6f7', 'Gray Light', 
                        'acaeb2', 'Gray', 
                        '666666', 'Gray Dark'
                    ]
                }
            },

            plugins() {
                var plugins = ''

                plugins += 'advlist autolink lists link charmap print preview anchor '
                plugins += 'searchreplace visualblocks code fullscreen insertdatetime '
                plugins += 'table contextmenu paste code textcolor image'

                return [plugins]
            },

            toolbar() {
                var toolbar = ''

                toolbar += 'undo redo | forecolor styleselect | bold italic | '
                toolbar += 'alignleft aligncenter alignright alignjustify | '
                toolbar += 'bullist numlist outdent indent | link image | code'

                return toolbar
            },

            setup(editor) {

                editor.on('init', () => {
                    editor.setContent(this.value ? this.value : '')
                })

                editor.on('change', () => {
                    this.$emit('input', editor.getContent())
                })

            }

        }

    }

</script>