<template>
    <ul class="pb-menu">
        <slot>
            <!-- Menu items -->
        </slot>
    </ul>
</template>
<script>
    export default {
        name: 'pb-menu',
        props: {
            value: {
                default: '',
                type: String
            },
            icon: {
                default: '',
                type: String
            }
        }
    }
</script>