<template>
    <li :class="getCSS('pb-menu-item')">
        <a :href="link" :target="target"><i v-if="icon" :class="icon"></i></a>
        <span v-if="value" class="pb-menu-item--tooltip">{{ value }}</span>
    </li>
</template>
<script>
    export default {
        name: 'pb-menu-item',
        props: {
            value: {
                default: '',
                type: String
            },
            icon: {
                default: '',
                type: String
            },
            link: {
                default: '',
                type: String
            },
            target: {
                default: '_self',
                type: String
            },
            css: {
                default: '',
                type: String
            }
        },
        methods: {
            getCSS(value) {
                return this.css ? value + ' ' + this.css : value
            }
        }
    }
</script>