@charset "UTF-8";
@charset "UTF-8";
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
    /* Transfer
  --------------------------*/
}
.el-checkbox{
    color: rgb(46, 46, 46);
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.el-checkbox + .el-checkbox{
    margin-left: 15px;
}
.el-checkbox__input{
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: #20a0ff;
    border-color: rgb(1, 144, 254);
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
    content: '';
    position: absolute;
    display: block;
    border: 1px solid #fff;
    margin-top: -1px;
    left: 3px;
    right: 3px;
    top: 50%;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner::after{
    display: none;
}
.el-checkbox__input.is-focus .el-checkbox__inner{
    border-color: #20a0ff;
}
.el-checkbox__input.is-checked .el-checkbox__inner{
    background-color: #20a0ff;
    border-color: rgb(1, 144, 254);
}
.el-checkbox__input.is-checked .el-checkbox__inner::after{
    transform: rotate(45deg) scaleY(1);
}
.el-checkbox__input.is-disabled .el-checkbox__inner{
    background-color: rgb(242, 242, 242);
    border-color: rgb(219, 219, 219);
    cursor: not-allowed;
}
.el-checkbox__input.is-disabled .el-checkbox__inner::after{
    cursor: not-allowed;
    border-color: rgb(242, 242, 242);
}
.el-checkbox__input.is-disabled .el-checkbox__inner + .el-checkbox__label{
    cursor: not-allowed;
}
.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner{
    background-color: rgb(219, 219, 219);
    border-color: rgb(219, 219, 219);
}
.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after{
    border-color: #fff;
}
.el-checkbox__input.is-disabled.is-indeterminate .el-checkbox__inner{
    background-color: rgb(219, 219, 219);
    border-color: rgb(219, 219, 219);
}
.el-checkbox__input.is-disabled.is-indeterminate .el-checkbox__inner::before{
    border-color: #fff;
}
.el-checkbox__input.is-disabled + .el-checkbox__label{
    color: #bbb;
    cursor: not-allowed;
}
.el-checkbox__inner{
    display: inline-block;
    position: relative;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    background-color: #fff;
    z-index: 1;
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),
                  background-color .25s cubic-bezier(.71,-.46,.29,1.46);
}
.el-checkbox__inner:hover{
    border-color: #20a0ff;
}
.el-checkbox__inner::after{
    box-sizing: content-box;
    content: "";
    border: 2px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 8px;
    left: 5px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg) scaleY(0);
    width: 4px;
    transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    transform-origin: center;
}
.el-checkbox__original{
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    left: -999px;
}
.el-checkbox__label{
    font-size: 14px;
    padding-left: 5px;
}
.el-checkbox-button{
    position: relative;
    display: inline-block;
}
.el-checkbox-button.is-checked{}
.el-checkbox-button.is-checked .el-checkbox-button__inner{
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    box-shadow: -1px 0 0 0 #20a0ff;
}
.el-checkbox-button.is-disabled{}
.el-checkbox-button.is-disabled .el-checkbox-button__inner{
    color: rgb(204, 204, 204);
    cursor: not-allowed;
    background-image: none;
    background-color: rgb(242, 242, 242);
    border-color: rgb(219, 219, 219);
    box-shadow: none;
}
.el-checkbox-button.is-focus{}
.el-checkbox-button.is-focus .el-checkbox-button__inner{
    border-color: #20a0ff;
}
.el-checkbox-button:first-child .el-checkbox-button__inner{
    border-left: 1px solid rgb(204, 204, 204);
    border-radius: 2px 0 0 2px;
    box-shadow: none !important;
}
.el-checkbox-button:last-child .el-checkbox-button__inner{
    border-radius: 0 2px 2px 0;
}
.el-checkbox-button__inner{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: #fff;
    border: 1px solid rgb(204, 204, 204);
    border-left: 0;
    color: rgb(46, 46, 46);
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    position: relative;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 0;
}
.el-checkbox-button__inner:hover{
    color: #20a0ff;
}
.el-checkbox-button__inner [class*="el-icon-"]{
    line-height: 0.9;
}
.el-checkbox-button__inner [class*="el-icon-"] + span{
    margin-left: 5px;
}
.el-checkbox-button__original{
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    visibility: hidden;
    left: -999px;
}
.el-checkbox-button--large{}
.el-checkbox-button--large .el-checkbox-button__inner{
    padding: 11px 19px;
    font-size: 16px;
    border-radius: 0;
}
.el-checkbox-button--small{}
.el-checkbox-button--small .el-checkbox-button__inner{
    padding: 7px 9px;
    font-size: 12px;
    border-radius: 0;
}
.el-checkbox-button--mini{}
.el-checkbox-button--mini .el-checkbox-button__inner{
    padding: 4px 4px;
    font-size: 12px;
    border-radius: 0;
}
@charset "UTF-8";
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
    /* Transfer
  --------------------------*/
}
.el-tag{
    background-color: rgb(148, 148, 148);
    display: inline-block;
    padding: 0 5px;
    height: 24px;
    line-height: 22px;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid transparent;
    white-space: nowrap;
}
.el-tag .el-icon-close{
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    transform: scale(.75, .75);
    height: 18px;
    width: 18px;
    line-height: 18px;
    vertical-align: middle;
    top: -1px;
    right: -2px;
}
.el-tag .el-icon-close:hover{
    background-color: #fff;
    color: rgb(148, 148, 148);
}
.el-tag--gray{
    background-color: rgb(235, 235, 235);
    border-color: rgb(235, 235, 235);
    color: rgb(89, 89, 89);
}
.el-tag--gray .el-tag__close:hover{
    background-color: rgb(89, 89, 89);
    color: #fff;
}
.el-tag--gray.is-hit{
    border-color: rgb(89, 89, 89);
}
.el-tag--primary{
    background-color: rgba(32, 160, 255, 0.1);
    border-color: rgba(32, 160, 255, 0.2);
    color: #20a0ff;
}
.el-tag--primary .el-tag__close:hover{
    background-color: #20a0ff;
    color: #fff;
}
.el-tag--primary.is-hit{
    border-color: #20a0ff;
}
.el-tag--success{
    background-color: rgba(18,206,102,0.10);
    border-color: rgba(18,206,102,0.20);
    color: #13ce66;
}
.el-tag--success .el-tag__close:hover{
    background-color: #13ce66;
    color: #fff;
}
.el-tag--success.is-hit{
    border-color: #13ce66;
}
.el-tag--warning{
    background-color: rgba(247,186,41,0.10);
    border-color: rgba(247,186,41,0.20);
    color: #f7ba2a;
}
.el-tag--warning .el-tag__close:hover{
    background-color: #f7ba2a;
    color: #fff;
}
.el-tag--warning.is-hit{
    border-color: #f7ba2a;
}
.el-tag--danger{
    background-color: rgba(255,73,73,0.10);
    border-color: rgba(255,73,73,0.20);
    color: #ff4949;
}
.el-tag--danger .el-tag__close:hover{
    background-color: #ff4949;
    color: #fff;
}
.el-tag--danger.is-hit{
    border-color: #ff4949;
}
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
    /* Transfer
  --------------------------*/
}

.el-table{
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border: 1px solid rgb(236, 223, 223);
    font-size: 14px;
    color: rgb(46, 46, 46);
}

.el-table .el-tooltip.cell{
    white-space: nowrap;
    min-width: 50px;
}

.el-table th, .el-table td{
    height: 40px;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative
}

.el-table th.is-right, .el-table td.is-right{
    text-align: right;
}

.el-table th.is-left, .el-table td.is-left{
    text-align: left;
}

.el-table th.is-center, .el-table td.is-center{
    text-align: center;
}

.el-table th.is-leaf, .el-table td{
    border-bottom: 1px solid rgb(236, 223, 223);
}

.el-table th.gutter, .el-table td.gutter{
    width: 15px;
    border-right-width: 0;
    border-bottom-width: 0;
    padding: 0;
}

.el-table td.is-hidden > *, .el-table th.is-hidden > *{
    visibility: hidden;
}

.el-table::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(236, 223, 223);
    z-index: 1;
}

.el-table::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: rgb(236, 223, 223);
    z-index: 1;
}

.el-table th{
    white-space: nowrap;
    overflow: hidden;
}

.el-table th{
    background-color: rgb(242, 242, 242);
    text-align: left;
}

.el-table th > div{
    display: inline-block;
    padding-left: 18px;
    padding-right: 18px;
    line-height: 40px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.el-table td > div{
    box-sizing: border-box;
}

.el-table th.required > div::before{
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ff4d51;
    margin-right: 5px;
    vertical-align: middle;
}

.el-table th > .cell{
    position: relative;
    word-wrap: normal;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    width: 100%;
    box-sizing: border-box;
}

.el-table th > .cell.highlight{
    color: #20a0ff;
}

.el-table .caret-wrapper{
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-top: -2px;
    width: 16px;
    height: 30px;
    overflow: visible;
    overflow: initial;
}

.el-table .sort-caret{
    display: inline-block;
    width: 0;
    height: 0;
    border: 0;
    content: "";
    position: absolute;
    left: 3px;
    z-index: 2;
}

.el-table .sort-caret.ascending{
    top: 9px;
    border-top: none;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgb(171, 171, 171);
    border-left: 5px solid transparent;
}

.el-table .sort-caret.descending{
    bottom: 9px;
    border-top: 5px solid rgb(171, 171, 171);
    border-right: 5px solid transparent;
    border-bottom: none;
    border-left: 5px solid transparent;
}

.el-table .ascending .sort-caret.ascending{
    border-bottom-color: rgb(89, 89, 89);
}

.el-table .descending .sort-caret.descending{
    border-top-color: rgb(89, 89, 89);
}

.el-table td.gutter{
    width: 0;
}

.el-table .cell{
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    line-height: 24px;
    padding-left: 18px;
    padding-right: 18px;
}

.el-table tr input[type="checkbox"]{
    margin: 0;
}

.el-table tr{
    background-color: #fff;
}

.el-table .hidden-columns{
    visibility: hidden;
    position: absolute;
    z-index: -1;
}

.el-table__empty-block{
    position: relative;
    min-height: 60px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.el-table__empty-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(94, 115, 130);
}

.el-table__expand-column .cell {
    padding: 0;
    text-align: center;
}

.el-table__expand-icon{
    position: relative;
    cursor: pointer;
    color: #666;
    font-size: 12px;
    transition: transform 0.2s ease-in-out;
    height: 40px;
}

.el-table__expand-icon > .el-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -5px;
    margin-top: -5px;
}

.el-table__expand-icon--expanded{
    transform: rotate(90deg);
}

.el-table__expanded-cell{
    padding: 20px 50px;
    background-color: rgb(251, 253, 255);
    box-shadow: inset 0 2px 0 #f4f4f4;
}

.el-table__expanded-cell:hover{
    background-color: rgb(251, 253, 255) !important;
}

.el-table--fit{
    border-right: 0;
    border-bottom: 0;
}

.el-table--fit th.gutter, .el-table--fit td.gutter {
    border-right-width: 1px;
}

.el-table--border th, .el-table--border td {
    border-right: 1px solid rgb(236, 223, 223);
}

.el-table--border th{
    border-bottom: 1px solid rgb(236, 223, 223);
}

.el-table__fixed, .el-table__fixed-right{
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 1px 0 8px #d3d4d6;
    overflow-x: hidden;
}

.el-table__fixed::before, .el-table__fixed-right::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(236, 223, 223);
    z-index: 4;
}

.el-table__fixed-right-patch{
    position: absolute;
    top: -1px;
    right: 0;
    background-color: rgb(242, 242, 242);
    border-bottom: 1px solid rgb(236, 223, 223);
}

.el-table__fixed-right{
    top: 0;
    left: auto;
    right: 0;
    box-shadow: -1px 0 8px #d3d4d6;
}

.el-table__fixed-right .el-table__fixed-header-wrapper, .el-table__fixed-right .el-table__fixed-body-wrapper, .el-table__fixed-right .el-table__fixed-footer-wrapper {
    left: auto;
    right: 0;
}

.el-table__fixed-header-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.el-table__fixed-header-wrapper thead div{
    background-color: rgb(242, 242, 242);
    color: rgb(46, 46, 46);
}

.el-table__fixed-footer-wrapper{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
}

.el-table__fixed-footer-wrapper tbody td{
    border-top: 1px solid rgb(236, 223, 223);
    background-color: rgb(251, 253, 255);
    color: rgb(46, 46, 46);
}

.el-table__fixed-body-wrapper{
    position: absolute;
    left: 0;
    top: 37px;
    overflow: hidden;
    z-index: 3;
}

.el-table__header-wrapper, .el-table__body-wrapper, .el-table__footer-wrapper{
    width: 100%;
}

.el-table__footer-wrapper{
    margin-top: -1px;
}

.el-table__footer-wrapper td {
    border-top: 1px solid rgb(236, 223, 223);
}

.el-table__header, .el-table__body, .el-table__footer{
    table-layout: fixed;
}

.el-table__header-wrapper, .el-table__footer-wrapper{
    overflow: hidden;
}

.el-table__header-wrapper thead div, .el-table__footer-wrapper thead div{
    background-color: rgb(242, 242, 242);
    color: rgb(46, 46, 46);
}

.el-table__header-wrapper tbody td, .el-table__footer-wrapper tbody td{
    background-color: rgb(251, 253, 255);
    color: rgb(46, 46, 46);
}

.el-table__body-wrapper{
    overflow: auto;
    position: relative;
}

.el-table--striped{}

.el-table--striped .el-table__body{}

.el-table--striped .el-table__body tr.el-table__row--striped td{
    background: #FAFAFA;
    background-clip: padding-box;
}

.el-table--striped .el-table__body tr.el-table__row--striped.current-row td{
    background: rgb(237, 247, 255);
}

.el-table__body tr.hover-row > td {
    background-color: rgb(242, 242, 242);
}

.el-table__body tr.current-row > td {
    background: rgb(237, 247, 255);
}

.el-table__column-resize-proxy{
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    width: 0;
    border-left: 1px solid rgb(236, 223, 223);
    z-index: 10;
}

.el-table__column-filter-trigger{
    display: inline-block;
    line-height: 34px;
    margin-left: 5px;
    cursor: pointer;
}

.el-table__column-filter-trigger i{
    color: rgb(171, 171, 171);
}

.el-table--enable-row-transition .el-table__body td {
    transition: background-color .25s ease;
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: rgb(242, 242, 242);
    background-clip: padding-box;
}

.el-table--fluid-height .el-table__fixed, .el-table--fluid-height .el-table__fixed-right {
    bottom: 0;
    overflow: hidden;
}
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
    /* Transfer
  --------------------------*/
}